transformers
datasets
peft
bitsandbytes
accelerate
sentencepiece
sacrebleu
evaluate
unbabel-comet
sentence-transformers
snscrape
emoji
regex
tqdm
huggingface_hub
gradio
pandas
scikit-learn
torch
paddleocr
pytesseract
fasttext-wheel
opustools
pytest
